*,
*::before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.shoppingCardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    padding-top: 20px;
}

.shoppingCard{
    overflow: hidden;
    box-shadow: 0 2px 20px grey;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.shoppingCard:hover{
    transform: scale(1.02);
}

.shoppingCardImage{
    height: 12rem;
    width: 100%;
}

.shoppingCardTitle{
    padding: 1rem;
    font-size: 15px;
}

.shoppingCardDescription{
    padding: 0 1rem;
    font-size: 12px;
    display: none;
}

.shoppingCardPrice{
    padding: 0 1rem;
    font-size: large;
    padding-bottom: 10px;
}