*,
*::before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.shopping-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 15rem));
    gap: 2rem;
    justify-content: center;
    padding-top: 20px;
    
}

.shopping-card{
    overflow: hidden;
    box-shadow: 0 2px 20px grey;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 200ms ease-in;
}

.shopping-card:hover{
    transform: scale(1.02);
}

.shopping-card-image{
    height: 12rem;
    width: 100%;
}

.shopping-card-title{
    padding: 1rem;
    font-size: 15px;
}

.shopping-card-description{
    padding: 0 1rem;
    font-size: 12px;
    display: none;
}

.shopping-card-price{
    padding: 0 1rem;
    font-size: large;
    padding-bottom: 10px;
}

.shopping-card-button{
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem #404040 solid;
    background: #f0c040;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    cursor: pointer;
}